/local.properties
/.idea/workspace.xml
*.apk
*.ap_
*.dex
*.class
bin/
gen/
local.properties
Thumbs.db
.DS_Store
.idea
#.idea/workspace.xml - remove # and delete .idea if it better suit your needs.
.gradle
build/
