<?xml version="1.0" encoding="utf-8"?>
<manifest
	package="com.sawyer.advadapters.app"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:name=".App"
		android:allowBackup="true"
		android:icon="@drawable/ic_icon"
		android:label="@string/app_name"
		android:logo="@drawable/ic_logo"
		android:theme="@style/AppTheme">

		<activity
			android:name=".adapters.arraybaseadapter.ArrayBaseAdapterActivity"
			android:label="@string/activity_array_baseadapter">
		</activity>
		<activity
			android:name=".adapters.simplearraybaseadapter.SimpleArrayBaseAdapterActivity"
			android:label="@string/activity_simplearray_baseadapter">
		</activity>

		<activity
			android:name=".MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>

		<activity
			android:name=".AboutActivity"
			android:label="@string/title_about">
		</activity>
	</application>

</manifest>
