<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ Copyright 2014 Jay Soyer
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~       http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->
<manifest
	package="com.sawyer.advadapters.app"
	xmlns:android="http://schemas.android.com/apk/res/android">

	<application
		android:name=".App"
		android:allowBackup="true"
		android:icon="@drawable/ic_icon"
		android:label="@string/app_name"
		android:logo="@drawable/ic_logo"
		android:theme="@style/AppTheme">

		<!-- Android Adapter Activities -->
		<activity
			android:name=".adapters.android.arrayadapter.AndroidAdapterActivity"
			android:label="@string/activity_android_arrayadapter">
		</activity>
		<activity
			android:name=".adapters.android.simpleexpandablelistadapter.AndroidExpandableActivity"
			android:label="@string/activity_android_simpleexpandable">
		</activity>

		<!-- Array Adapter Activities -->
		<activity
			android:name=".adapters.absarrayadapter.ArrayAdapterActivity"
			android:label="@string/activity_absarrayadapter">
		</activity>
		<activity
			android:name=".adapters.nfarrayadapter.NFArrayAdapterActivity"
			android:label="@string/activity_nfarrayadapter">
		</activity>

		<!-- SparseArray Adapter Activities-->
		<activity
			android:name=".adapters.sparseadapter.SparseAdapterActivity"
			android:label="@string/activity_sparseadapter">
		</activity>
		<activity
			android:name=".adapters.nfsparseadapter.NFSparseAdapterActivity"
			android:label="@string/activity_nfsparseadapter">
		</activity>

		<!-- JSONArray Adapter Activities-->
		<activity
			android:name=".adapters.jsonadapter.JSONAdapterActivity"
			android:label="@string/activity_jsonadapter">
		</activity>
		<activity
			android:name=".adapters.jsonadapter.UnitTestJSONArrayActivity"
			android:label="@string/activity_jsonarray_unittest">
		</activity>
		<activity
			android:name=".adapters.nfjsonadapter.NFJSONAdapterActivity"
			android:label="@string/activity_nfjsonadapter">
		</activity>
		<activity
			android:name=".adapters.nfjsonadapter.UnitTestJSONArrayActivity"
			android:label="@string/activity_nfjsonarray_unittest">
		</activity>

		<!-- Rolodex Array Adapter Activities-->
		<activity
			android:name=".adapters.rolodexarrayadapter.PickDemoActivity"
			android:label="@string/activity_rolodex_arrayadapter">
		</activity>
		<activity
			android:name=".adapters.rolodexarrayadapter.fulldemo.FullDemoActivity"
			android:label="@string/activity_rolodex_movie_demo">
		</activity>
		<activity
			android:name=".adapters.rolodexarrayadapter.basicdemo.AddItemsActivity"
			android:label="@string/activity_rolodex_add_items">
		</activity>
		<activity
			android:name=".adapters.rolodexarrayadapter.basicdemo.ContainsItemActivity"
			android:label="@string/activity_rolodex_contains_item">
		</activity>
		<activity
			android:name=".adapters.rolodexarrayadapter.basicdemo.ClickListenerActivity"
			android:label="@string/activity_rolodex_click_listener">
		</activity>
		<activity
			android:name=".adapters.rolodexarrayadapter.basicdemo.ExpandCollapseAllActivity"
			android:label="@string/activity_rolodex_expand_collapse_all">
		</activity>
		<activity
			android:name=".adapters.rolodexarrayadapter.basicdemo.NeverCollapseGroupActivity"
			android:label="@string/activity_rolodex_never_collapse_groups">
		</activity>
		<activity
			android:name=".adapters.rolodexarrayadapter.basicdemo.NeverCollapseGroupUnsortedActivity"
			android:label="@string/activity_rolodex_never_collapse_groups_unsorted">
		</activity>
		<activity
			android:name=".adapters.rolodexarrayadapter.basicdemo.RemoveItemsActivity"
			android:label="@string/activity_rolodex_remove_items">
		</activity>
		<activity
			android:name=".adapters.rolodexarrayadapter.basicdemo.RetainAndSetListActivity"
			android:label="@string/activity_rolodex_retain_set_list">
		</activity>
		<activity
			android:name=".adapters.rolodexarrayadapter.basicdemo.SortAllChildrenActivity"
			android:label="@string/activity_rolodex_sort_all_children">
		</activity>

		<!-- Misc Support Activities-->
		<activity
			android:name=".MainActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN"/>

				<category android:name="android.intent.category.LAUNCHER"/>
			</intent-filter>
		</activity>
		<activity
			android:name=".AboutActivity"
			android:label="@string/title_about">
		</activity>
	</application>

</manifest>
